.h1 {
	color: blue;
	font-size: 50px;
}

.sidebar {
	width: 30%;
	float: left;
}

.main {
	width: 70%;
	float: left;

}

.testimg {
	width: 100%;
}

#logintable {
	width: 100%;
}

#forminput {
	width: 100%;
}

#width100percent {
	width: 100%;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .sidebar, .main {
    width:100%;
  }